img{
  border: 5px solid white;
  padding: 0px;
  width: 100%;
}

h1{
  text-transform: uppercase;
  font-size: xx-large;
}

.text{  
  font-family: 'Libre Baskerville', serif;

}

body{
  background-color: black;
  color: white;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}